/* Gradient color1 - color2 - color1 */
hr.style-one {
    border: 0;
    height: 1px;
    background: #00e11a;
    background-image: -webkit-linear-gradient(left, #004f09, #00e11a, #004f09);
    background-image: -moz-linear-gradient(left, #004f09, #00e11a, #004f09);
    background-image: -ms-linear-gradient(left, #004f09, #00e11a, #004f09);
    background-image: -o-linear-gradient(left, #004f09, #00e11a, #004f09);
}
/* Gradient transparent - color - transparent */
hr.style-two {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

#logo {
    height: 20px;
    weight: 20px;
}

#logo:hover {
    height: 20px;
    weight: 20px;
/*    opacity: 0.6;
    -moz-opacity: 0.6;
    filter: alpha(opacity=80) black;
    -khtml-opacity: 0.6;
    background-color:#fff;*/
}
